:root {
  --player-transition-duration: 0.2s;
  --square-size: 40px;
}

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}

.entity {
  height: var(--square-size);
  position: absolute;
  width: var(--square-size);
}

.door {
  background-color: forestgreen;
  z-index: 0;
}

.enemy {
  background-color: darkred;
  transition: all 0.6s;
  transition-delay: var(--player-transition-duration);
  z-index: 2;

  &.destroyed {
    opacity: 0;
  }
}

.player {
  background-color: dodgerblue;
  transition: all var(--player-transition-duration);
  z-index: 1;
}

.wall {
  background-color: slategray;
  z-index: 0;
}
