:root {
  --square-size: 40px;
}

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}

.entity {
  height: var(--square-size);
  position: absolute;
  width: var(--square-size);
}

.enemy {
  background-color: darkred;
  transition: all 0.6s;

  &.destroyed {
    opacity: 0;
  }
}

.player {
  background-color: dodgerblue;
  transition: all 0.2s;
}

.wall {
  background-color: slategray;
}
