html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}

.enemy {
  background-color: darkred;
  height: 1rem;
  position: absolute;
  width: 1rem;
}

.player {
  background-color: slategray;
  height: 1rem;
  position: absolute;
  width: 1rem;
}
